body{
    text-transform: capitalize;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.main{
    background-image: url(back-image.png);
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
nav{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 400;
}
nav ul li a:hover{
    background-image: linear-gradient(45deg, rgb(128, 0, 83), pink);
    color: white;
    border-radius: 30px;
    padding: 10px;
    border-top-right-radius: 0;
}
.login-btn{
    text-decoration: none;
    color: #333;
    font-weight: 400;
    margin-right: 15px;
}
.btn{
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #ffffff;
    background-image: linear-gradient(45deg, rgb(128, 0, 83), pink);
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
}
.content{
    margin-top: 10%;
    max-width: 600px;
    padding-left: 41px;
}
.content h1{
    font-size: 50px;
    color: #222;
}
.content p{
    margin: 10px 0 30px;
    color:#333;
    animation-delay: 0.5s;
}
.content.btn{
    padding: 15px 80px;
    font-size: 16px;
    animation-delay: 1.5s;
}
.btn:hover{
    font-size: 20px;
    border-top-right-radius: 30px;
}
.anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}
@keyframes moveup{
    100%{
        opacity: 1;
        transform: translate(0px);
    }
}
@media  screen and (max-width: 600px) 
{
    nav{
       
        flex-direction: column;
    }
    footer .row{
       
        flex-direction: column;
    }
    .col{
        flex-basis: 100%;
    }
    footer{
        bottom: unset;
    }
}
/* Footer CSS Started */
footer{
    width: 100%;
    padding: 50px 0 30px;
    bottom: 0;
    background: linear-gradient(to right ,rgb(250, 218, 223), rgb(250, 118, 204) );
    color: rgb(7, 7, 7);
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
    font-size: 16px;
    
}
.row{
    width: 85%;
    margin: auto;
    display: flex;
    align-items: flex-start;
}
.col{
    flex-basis: 25%;
    padding: 10px;
}
.col:nth-child(2),.col:nth-child(3){
    flex-basis: 15%;
}
.logo{
    width: 80px;
    margin-bottom: 30px;
}
.col h3{
    
    margin-bottom: 10px;
    
}
.email{
    border-bottom: 1px solid;
    width: fit-content;
    margin: 20px 0;

}
.links{
    padding: 0;
}
.links li{
    list-style: none;
    margin-bottom: 12px;
}
.links li a{
    text-decoration: none;
    color: black;
}
form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.btn-submit
{
    border: 0px;
    background-color: transparent;
    cursor: pointer;
}
#email{
    width: 100%;
    background: transparent;
    border: 0px;
    border-bottom: 1px solid;
    outline: none;
}
#email::placeholder{
    color: black;
}
.material-symbols-outlined:hover{
    font-size: 30px;
}
.social-icons i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: black;
    background-color: #fff;
    margin-right: 15px;
    cursor: pointer;
    font-size: 20px;
}
.social-icons i:hover{
    font-size: 40px;   
    background: transparent;
}
hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid black;
    margin: 20px auto;
}
.copyright{
    text-align: center;
}
@media screen {
    
}